<mat-card class="table-card">

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z1">

    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title</th>
      <td mat-cell *matCellDef="let item"> {{ item.name }}</td>
    </ng-container>

    <!-- Conditions Column -->
    <ng-container matColumnDef="conditions">
      <th mat-header-cell *matHeaderCellDef> Conditions</th>
      <td mat-cell *matCellDef="let item"> {{ item.conditions.length }}</td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status</th>
      <td mat-cell *matCellDef="let item">
        <mat-chip color="{{ item.active ? 'primary' : 'warn' }}" [disabled]="!item.active">
          {{ item.active }}
        </mat-chip>
      </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions</th>
      <td mat-cell *matCellDef="let item">
        <button mat-icon-button color="primary" (click)="openEditFilterDialog(item)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="accent" (click)="toggleStatus(item)">
          <mat-icon>toggle_on</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteFilter(item)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Header and Row Definitions -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

</mat-card>
