<form (ngSubmit)="save()" #form="ngForm">

  @if (validationErrors.length > 0) {
    <div class="validation-errors">

      <mat-card class="message-card error-card">
        <mat-card-content>
          <div class="card-message">
            <mat-icon class="card-icon">error</mat-icon>
            <div class="card-text">
              @for (error of validationErrors; track $index) {
                <p>{{ error }}</p>
              }
            </div>
          </div>
        </mat-card-content>
      </mat-card>

    </div>
  }

  <mat-form-field appearance="fill" class="w-100">
    <mat-label>Filter Name</mat-label>
    <input matInput [(ngModel)]="filterData.name" name="name" required/>
  </mat-form-field>

  @if (!filterData.conditions) {
    <div class="no-conditions">
      <p>No conditions added yet.</p>
    </div>
  } @else {

    @for (condition of filterData.conditions; track $index) {

      <div class="conditions">
        <mat-form-field appearance="fill">
          <mat-label>Condition Type</mat-label>
          <mat-select
            [(value)]="condition.type"
            (selectionChange)="onConditionTypeChange(condition, $event.value)"
          >
            @for (type of conditionTypes; track $index) {
              <mat-option [value]="type">
                {{ type | titlecase }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>

        @switch (condition.type) {
          @case ('title') {
            <mat-form-field appearance="fill">
              <mat-label>Operator</mat-label>
              <mat-select [(value)]="condition.operator">
                @for (operator of titleOperators; track $index) {
                  <mat-option [value]="operator">
                    {{ operator | titlecase }}
                  </mat-option>
                }
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Value</mat-label>
              <input matInput
                     [(ngModel)]="condition.value"
                     [name]="'value' + $index"
                     required
              />
            </mat-form-field>
          }
          @case ('amount') {
            <mat-form-field appearance="fill">
              <mat-label>Operator</mat-label>
              <mat-select [(value)]="condition.operator">
                @for (operator of amountOperators; track $index) {
                  <mat-option [value]="operator">
                    {{ operator | titlecase }}
                  </mat-option>
                }
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Value</mat-label>
              <input matInput
                     [(ngModel)]="condition.value"
                     [name]="'value' + $index"
                     required
              />
            </mat-form-field>
          }
          @case ('date') {
            <mat-form-field appearance="fill">
              <mat-label>Operator</mat-label>
              <mat-select [(value)]="condition.operator">
                @for (operator of dateOperators; track $index) {
                  <mat-option [value]="operator">
                    {{ operator | titlecase }}
                  </mat-option>
                }
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Choose a date</mat-label>
              <input matInput
                     [name]="'value' + $index"
                     [matDatepicker]="picker"
                     [(ngModel)]="condition.value"
              />
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          }
        }

        <button mat-icon-button color="warn" type="button" (click)="removeCondition($index)">
          <mat-icon>delete</mat-icon>
        </button>

      </div>
    }
  }

  <div>
    <button mat-stroked-button color="accent" type="button" (click)="addCondition()">Add Condition</button>
  </div>

</form>
