<form (ngSubmit)="save()" #form="ngForm">
  <mat-form-field appearance="fill" class="w-100">
    <mat-label>Filter Name</mat-label>
    <input matInput [(ngModel)]="filterData.name" name="name" required/>
  </mat-form-field>

  @if (!filterData.conditions) {
    <div class="no-conditions">
      <p>No conditions added yet.</p>
      <button mat-stroked-button color="accent" type="button" (click)="addCondition()">Add Condition</button>
    </div>
  } @else {
    @for (condition of filterData.conditions; track $index) {

      <mat-form-field appearance="fill">
        <mat-label>Condition Type</mat-label>
        <mat-select
          [(value)]="condition.type"
          (selectionChange)="onConditionTypeChange(condition, $event.value)"
        >
          @for (type of conditionTypeOptions; track $index) {
            <mat-option [value]="type">
              {{ type | titlecase }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>

      @switch (condition.type) {
        @case ('title') {
          <div>title</div>
        }

        @case ('amount') {
          <div>title</div>
        }

        @case ('date') {
          <div>date</div>
        }
      }

    }
  }

</form>
