/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.resizable-dialog .mat-mdc-dialog-container {
  resize: vertical;
  overflow: auto;
  /*min-width: 95vw;*/
  /*min-height: 90vh;*/
}
