<h3 *ngIf="dialogRef; else header" mat-dialog-title>Edit Filter</h3>
<ng-template #header><h3>Edit Filter</h3></ng-template>

<mat-dialog-content class="mat-typography">
  <app-filter-form
    #filterForm
    (submitForm)="onFormSubmit($event)"
    [filterData]="filter"
  >
  </app-filter-form>
</mat-dialog-content>


<mat-dialog-actions align="end" *ngIf="dialogRef">
  <button mat-stroked-button mat-dialog-close (click)="cancel()">Cancel</button>
  <button mat-flat-button color="primary" (click)="filterForm.onSubmit()">Save</button>
</mat-dialog-actions>

